[submodule "src/velodyne_simulator"]
	path = src/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "src/cartographer"]
	path = src/cartographer
	url = https://github.com/cartographer-project/cartographer.git
